@font-face {
    font-family: Whyte;
    src: url(/font/Whyte-Regular.ttf);
}

/* ROOT VARIABLES */
:root {
    --bg-color: #fafafa;

    --prueba: gray;

    --gap: 1rem;
    --radio: 0.5rem;
    --pad: 2rem;

    --pri-font: sans-serif;

    --font: Whyte;
}

/* LA BASE */
* {
    box-sizing: border-box;
    margin: 0;
}
html {
    font-size: 75%;
    background: var(--bg-color);
    
}

body {
    font-family: var(--font);
    font-size: 1.4rem;
    max-width: 70rem;
    margin: auto;
    padding: 2.4rem;
}

p, a {
    font-size: 1.8rem;
    padding-bottom: 0.4rem;
}
