/* ROOT VARIABLES */
:root {
    --pri-color: black;
    --sec-color: white;
    --bg-color: #f5f5f5;

    --prueba: gray;

    --gap: 1rem;
    --radio: 0.5rem;
    --pad: 2rem;

    --pri-font: sans-serif;
}

/* LA BASE */
* {
    box-sizing: border-box;
    margin: 0;
}
html {
    font-size: 75%;
    background: var(--bg-color);
}